{% extends "template.html" %}

{% block header %}

<div class="container">

  <h1><p class="text-center">Wellcome to my training web</p></h1>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/run.png" class="card-img-top" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Click here and access to all the training history.</p>
          <a href="/view_data" class="btn btn-primary stretched-link">Let's go!</a>
        </div>
      </div>
    </div>
    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/map.png" class="card-img-top" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Click here insert new training information.</p>
          <a href="/insert_data_options" class="btn btn-primary stretched-link">Let's record!</a>
        </div>
      </div>
    </div>
    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/scale.png" class="card-img-top" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Click here to see interesting information.</p>
          <a href="/overview" class="btn btn-primary stretched-link">Show me!</a>
        </div>
      </div>
    </div>


    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/result.png" class="card-img-top" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Click here to see graph information</p>
          <a href="/graph" class="btn btn-primary stretched-link">Pie or Bar?</a>
        </div>
      </div>
    </div>

    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/trophy.png" class="card-img-top" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Click here to see race results</p>
          <a href="/races" class="btn btn-primary stretched-link">Gold medal?</a>
        </div>
      </div>
    </div>

    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/calendar.png" class="card-img-top" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Compare today with history</p>
          <a href="/today" class="btn btn-primary stretched-link">Any better?</a>
        </div>
      </div>
    </div>
    </div>


    


  </div>
</div>

</div>


{% endblock %}