{% extends "template.html" %}

{% block header %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center">It's up to you</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/pencil.png" class="rounded mx-auto d-block" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Who trust a computer??? let's do it manually</p>
          <a href="/insert_data" class="btn btn-primary stretched-link">Old school</a>
        </div>
      </div>
    </div>
    <div class="col-sm" align="center">
      <div class="card" style="width: 18rem;">
        <img src="/static/save.png" class="rounded mx-auto d-block" style="width:200px;height:200px;">
        <div class="card-body">
          <p class="card-text">Insert information from a gpx file</p>
          <a href="/upload_file" class="btn btn-primary stretched-link">Let's use your file</a>
        </div>
      </div>
    </div>


    {% if stravaConf == True %}
          <div class="col-sm" align="center">
            <div class="card" style="width: 18rem;">
              <img src="/static/strava.png" class="rounded mx-auto d-block" style="width:200px;height:200px;">
              <div class="card-body">
                <p class="card-text">Is it in Strava?</p>

                <a href="/stravaUrl" class="btn btn-primary stretched-link">Strava</a>
              </div>
            </div>
          </div>
      {%else %}
          <div class="col-sm" align="center">
            <div class="card" style="width: 18rem;">
              <img src="/static/maintenance.png" class="rounded mx-auto d-block" style="width:200px;height:200px;">
              <div class="card-body">
                <p class="card-text">Let's config your Strava user</p>

                <a href="/stravaConf" class="btn btn-primary stretched-link">Config Strava</a>
              </div>
            </div>
          </div>
      {%endif%}
   




{% endblock %}