{% extends "template.html" %}

{% block header %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Make sure you do it right</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
  
            <div>
            <form method="POST">
            {# This hidden_tag is a CSRF security feature. #}
            {{ form.hidden_tag() }}

            <div class="container">
            <div class="row">
            <div class="col">{{ form.date.label }} {{ form.date() }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.race.label }} {{ form.race() }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.location.label }} {{ form.location(placeholder="Milton Keynes") }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.distance.label }} {{ form.distance(placeholder="Distance in meters") }}</div>
            <div class="w-100"></div>
            </div>
            
            <div class="row">
            <div class="col">{{ form.time.label }} {{ form.time(placeholder="hh:mm:ss") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgHr.label }} {{ form.avgHr(placeholder="Avg Heart Rate") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.maxHr.label }} {{ form.maxHr(placeholder="Carefull with your Max Hr") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgCadence.label }} {{ form.avgCadence(placeholder="Feet speed!!") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.maxCadence.label }} {{ form.maxCadence(placeholder="Feet speed!!") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgPace.label }} {{ form.avgPace(placeholder="mm:ss") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.elevGain.label }} {{ form.elevGain(placeholder="Everest today?") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.elevLoss.label }} {{ form.elevLoss(placeholder="Diving?") }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgStrideLength.label }} {{ form.avgStrideLength(placeholder="Kangaroo?") }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.submit }}</div>
            <div class="w-50"></div>
            </div>
            </div>


            {% for field in form.errors %}
            {% for error in form.errors[field] %}
            <div class="alert alert-error">
            <strong>Error!</strong> {{error}} {{ field }}
            </div>
            {% endfor %}
            {% endfor %}

            </form>
            </div>
  
    
    </div>
    
</div>






{% endblock %}