{% extends "template.html" %}

{% block header %}


<div class="container">
  <div class="row">
    <div class="col"><h1>YOUR BEST RESULTS</h1></div>
    <div class="col"></div>
    <div class="w-100"></div>
    <div class="col"><img src="/static/podium.png" class="rounded mx-auto d-block" style="width:100px;height:100px;"></div>
    <div class="col"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title">Marathon</h1>
          <h3 class="card-title">{{ '{:.10}'.format(marathon[2]) }}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ marathon[4] }}</li>
          <li class="list-group-item">Time:  {{ marathon[7] }}</li>
          <li class="list-group-item">Elev. Gain {{ marathon[13] }}</li>
          <li class="list-group-item">Average HR {{ marathon[8] }}</li>
          <li class="list-group-item"><a href="/details?date={{marathon[2]}}&dist={{marathon[5]}}"><button type="button" class="btn btn-primary btn-xs">Details</button></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title">1/2 Marathon</h1>
          <h3 class="card-title">{{ '{:.10}'.format(half[2]) }}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ half[4] }}</li>
          <li class="list-group-item">Time:  {{ half[7] }}</li>
          <li class="list-group-item">Elev. Gain {{ half[13] }}</li>
          <li class="list-group-item">Average HR {{ half[8] }}</li>
          <li class="list-group-item"><a href="/details?date={{marathon[2]}}&dist={{marathon[5]}}"><button type="button" class="btn btn-primary btn-xs">Details</button></a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title">10K</h1>
          <h3 class="card-title">{{ '{:.10}'.format(ten[2]) }}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ ten[4] }}</li>
          <li class="list-group-item">Time:  {{ ten[7] }}</li>
          <li class="list-group-item">Elev. Gain {{ ten[13] }}</li>
          <li class="list-group-item">Average HR {{ ten[8] }}</li>
          <li class="list-group-item"><a href="/details?date={{marathon[2]}}&dist={{marathon[5]}}"><button type="button" class="btn btn-primary btn-xs">Details</button></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col"><h1>YOUR RACES</h1></div>
    <div class="col"></div>
    <div class="w-100"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-dark">
      <tr>
        <th>Details</th>
        <th>Location</th>
        <th>Date</th>
        <th>Distance</th>
        <th>Calories</th>
        <th>Time</th>
        <th>Avg HR</th>
        <th>Max HR</th>
        <th>Avg Cadence</th>
        <th>Avg Pace</th>
        <th>Elev Gain</th>
      <tr>
  </thead>
  <tbody>
      {% for races in races %}
      <tr>
          <td><a href="/details?date={{races[2]}}&dist={{races[5]}}"><button type="button" class="btn btn-primary btn-xs">Details</button></a></td>
          <td>{{ races[4] }}</td>
          <td>{{ races[2] }}</td>
          <td>{{ races[5] }}</td>
          <td>{{ races[6] }}</td>
          <td>{{ races[7] }}</td>
          <td>{{ races[8] }}</td>
          <td>{{ races[9] }}</td>
          <td>{{ races[10] }}</td>
          <td>{{ races[12] }}</td>
          <td>{{ races[13] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>


{% endblock %}