{% extends "template.html" %}

{% block header %}



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align:center">How are you doing this year?</h1>
  </div>
</div>

{% if doingGreat %}

  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <div class="card mb-3">
          <img src="/static/goldmedal.png" class="rounded mx-auto d-block" style="width:100px;height:100px;">
          <div class="card-body">
            <h1 class="card-title">This is your best year</h1>
            <p class="card-text">Keep trainning hard {{kmsToday}} kms is your new record</p>
          </div>
        </div>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>

{% else %}

  <div class="container">
    <div class="row">
      <div class="col-lg">
        
      </div>
      <div class="col-lg">
        <div class="card mb-3">
          <img src="/static/run.png" class="rounded mx-auto d-block" style="width:100px;height:100px;">
          <div class="card-body">
            <h1 class="card-title">You can do better</h1>
            <p class="card-text">In {{years}} you run {{kmsToday}} kms, that's {{kmsToday-nowKms}} kms more than this year</p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        
      </div>
    </div>
  </div>


{% endif %}

{% endblock %}