{% extends "template.html" %}

{% block header %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Give it your personal touch</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
  
            <div>
            <form method="POST">
            {# This hidden_tag is a CSRF security feature. #}
            {{ form.hidden_tag() }}

            <div class="container">
            <div class="row">
            <div class="col">{{ form.date.label }} {{ form.date(value=activity[2]) }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.race.label }} {{ form.race() }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.location.label }} {{ form.location(value=activity[4]) }}</div>
            <div class="w-100"></div>
            </div>
            </div>

            <div class="row">
            <div class="col">{{ form.distance.label }} {{ form.distance(value=activity[5]) }}</div>
            <div class="w-100"></div>
            </div>
            
            <div class="row">
            <div class="col">{{ form.time.label }} {{ form.time(value=activity[7]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgHr.label }} {{ form.avgHr(value=activity[8]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.maxHr.label }} {{ form.maxHr(value=activity[9]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgCadence.label }} {{ form.avgCadence(value=activity[10]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.maxCadence.label }} {{ form.maxCadence(value=activity[11]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgPace.label }} {{ form.avgPace(value=activity[12]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.elevGain.label }} {{ form.elevGain(value=activity[13]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.elevLoss.label }} {{ form.elevLoss(value=activity[14]) }}</div>
            <div class="w-100"></div>
            </div>
            <div class="row">
            <div class="col">{{ form.avgStrideLength.label }} {{ form.avgStrideLength(value=activity[15]) }}</div>
            <div class="w-100"></div>
            </div>

            <div class="row">
            <div class="col">{{ form.submit }}</div>
            <div class="w-50"></div>
            </div>
            </div>


            {% for field in form.errors %}
            {% for error in form.errors[field] %}
            <div class="alert alert-error">
            <strong>Error!</strong> {{error}} {{ field }}
            </div>
            {% endfor %}
            {% endfor %}

            </form>
            </div>
  
    
    </div>
    
</div>






{% endblock %}